.menu {
    font-family: 'Roboto', sans-serif;
    text-align: center;       
}
.menu ul {
    background-image: url("modulov.png");
    position: fixed;
    padding: 0px;
    width: 100%;
    height: 70px;
    margin: 0px;

}

.menu li {
    float: left;
    font-size: 1.1em;
    font-weight: normal;
    
}

.menu li a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 20px 0px 0px 0px;
    margin-left: 9vw;
}

li a:hover {
    color:#6b8e23;
}

header div {
    
    background-image: url(modulov.png);
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.5em;
    color: black;
    text-align: left;
    margin: 0px;
    padding-top: 80px;
    padding-bottom: 20px;
}

h1 {
    margin: 0px 0px 0px 9vw;
}


body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 1.5;
    font-size: 1.1em;
}


.txt {
    font-size: 0.9em;
    background-color: rgb(50, 131, 33);
    color: blanchedalmond;
    vertical-align: middle;
    margin: 0px auto;
    padding: 0;
}

h2 {
    margin: 20px 0px 20px 0px;
}

.caixa {
    text-align: center;
    padding: 50px 0px 100px 0px;
    margin: 0px auto;
    background-color: whitesmoke;
}

form {
    background-color:rgba(49, 131, 33, 0.151);
    border-radius: 0px;
    padding: 20px;
    margin: 0px 9vw 0px 9vw;
    color: black;
    text-align: left;
    width: 100%;
    position: center;
    
}

input[type=text] {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    width: 30%;
    padding: 10px 10px;
    border: 2px solid black;
    background-color: white;
    border-radius: 4px;
    margin: 1.5vw;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

input[type=text]:hover, input[type=text]:focus{
    background-color:  rgba(245, 245, 245, 0.5);
}

input[type=date] {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 10px 10px;
    border: 2px solid black;
    background-color: white;
    border-radius: 4px;
    margin: 1.5vw;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

input[type=date]:hover, input[type=date]:focus {
    background-color:  rgba(245, 245, 245, 0.5);
}

select {
    font-family: 'Roboto', sans-serif;
    padding: 10px 10px;
    margin: 1.5vw;
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;
    display: list-item;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

select:focus, select:hover {
    background-color:  rgba(245, 245, 245, 0.5);
}


p {
    margin: 1.5vw;
    line-height: 30px;
    
}

/* Base for label styling */
/* apagar checkbox inicial */
[type="checkbox"]:not(:checked), 
[type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* posicionar label */
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-top: 4px;
    padding-left: 40px;
    cursor: pointer;
}

/* checkbox aspect on/off*/
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0; top: 0;
    width: 25px; height: 25px;
    border: 2px solid black;
    background: white;
    border-radius: 6px;
}

/* checked mark aspect on/off */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    border: 0px solid black;
    border-width: 0px 4px 4px 0px;
    top: .3em; left: .6em;
    color: black;
    transition: all .2s;
    -webkit-transform: rotate(45deg);
    -ms-transform: 0;
    transform: 0;
}

/* checked mark aspect changes off */
[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    display: none;
}

/* checked mark aspect changes on */
[type="checkbox"]:checked + label:after {    
    display: block;
}

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 2px solid black;
}
/* accessibility */
[type="checkbox"]:checked:hover + label:before,
[type="checkbox"]:not(:checked):hover + label:before {
    background-color:rgba(245, 245, 245, 0.5);
}

[type="radio"]:not(:checked), 
[type="radio"]:checked {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* posicionar label */
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    position: relative;
    padding-top: 4px;
    padding-left: 40px;
    cursor: pointer;
}

/* checkbox aspect on/off*/
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0; top: 0;
    width: 25px; height: 25px;
    border: 2px solid black;
    background: white;
    border-radius: 50px;
}

/* checked mark aspect on/off */
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
    content: "";
    position: absolute;
    top: .4em; left: .4em;
    width: 13px;
    height: 13px;
    border: 1px solid black;
    border-radius: 50px;   
    background: black;
    transition: all .2s;
}

/* checked mark aspect changes off */
[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    display: none;
}

/* checked mark aspect changes on */
[type="radio"]:checked + label:after {    
    display: block;
}       

/* accessibility */
[type="radio"]:checked:focus + label:before,
[type="radio"]:not(:checked):focus + label:before {
    border: 2px solid black;
}
/* accessibility */
[type="radio"]:checked:hover + label:before,
[type="radio"]:not(:checked):hover + label:before {
    background-color:rgba(245, 245, 245, 0.5);
}

textarea {
    font-family: 'Roboto', serif;
    font-size: 1em;
    display: list-item;
    width: 80%;
    padding: 20px;
    margin: 1.5vw;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    resize: none;
    margin-top: 8px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}    
textarea:focus, textarea:hover {
    background-color:  rgba(245, 245, 245, 0.5);
}

input[type=reset], input[type=submit] {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 8px auto;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: rgba(49, 131, 33, 0.432);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

input[type=reset]:hover, input[type=submit]:hover {
    background-color: rgba(245, 245, 245, 0.5);
}

footer p { 
    margin-top: 60px;
}

.txtfooter {
    background-image: url("modulov.png");
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    color:black;
    text-align: left;
    margin: 0px auto;
    padding: 0px auto;
    float: left;
    height: 25%;
}


.meiofooter {
    background-image: url("modulov.png");
    margin: 0px;
    height: 25%;
    float: left;
}

.divfooter {
    background-image: url("modulov.png");
    margin: 0px auto;
    padding: 0px;
    float: left;
    height: 25%;   
}

.imgfooter {
    margin-top: 30px;
}

.caixaf {
    text-align: center;
    padding: 0px;
    margin: 0px auto;
    background-image: url("modulov.png");
    background-color: red;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    clear: both;
    display: block;
    height: 0;
}