@media only screen and (min-width: 701px) {
    /* C처digo para vers찾o web */
.container {
    height: 0px auto;
    width: 0px auto;
    padding: 0px auto;
    display: block;
}
          
#checkbox-menu {
    opacity: 0;
    position: absolute;
}
    
nav {
    width: 0px auto;
    height: 0px auto;
    padding: 0px auto;
}

.menu {
    font-family: 'PT Sans', sans-serif;
    text-align: center;      
    z-index: 1;
}

.menu ul {
    background-image: url("modulov.png");
    position: fixed;
    padding: 0px;
    width: 100%;
    height: 70px;
    padding: 0px 0px 0px 7vw;
}

.menu li {
    float: left;
    font-weight: normal;
    font-size: 1.1em;
    padding: 0px 2vw 0px 2vw;
    margin-left: 0vw;
}

.menu li a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 20px 0px 3px 0px;
    transition: border-bottom .1s ease-in;
}

.menu ul li:nth-child(2) a {
    border-bottom: #a80505cc solid 4px;
}

li a:hover {
    border-bottom: #a80505cc solid 4px;
}

.fab {
    font-size: 1.2em;
    color: black;
    position: absolute;
    top: 30%;
}

.fa-facebook {
    right: 27%;
}

.fa-instagram {
    right: 21%;
}

.fa-twitter {
    right: 15%;
}

.cabecalho {
    background-image: url(modulov.png);
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.5em;
    color: black;
    text-align: left;
    margin: 0px;
    padding-top: 80px;
    padding-bottom: 20px;
}

h1 {
    margin: 0px 0px 0px 9vw;
    color: black;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 1.5;
    font-size: 1.1em;
    letter-spacing: 0.5px;
}

.caixa1 {
    text-align: center;
    padding: 50px 0px 20px 0px;
    margin: 0px auto;
    background-color: whitesmoke;
}

.caixa2 {
    text-align: center;
    padding: 20px 0px 100px 0px;
    margin: 0px auto;
    background-color: whitesmoke;
}


.imgesq {
    background-color: goldenrod;
    float: left;
    margin: 0px auto;
    margin-left: 9vw;
    padding: 0px;
   
}

.imgdir {
    background-color: goldenrod;
    float: right;
    margin: 0px auto;
    margin-right: 9vw;
    padding: 0px;
}

footer p { 
    margin-top: 60px;
}

.txtfooter {
    background-image: url("modulov.png");
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    color:black;
    text-align: left;
    margin: 0px auto;
    padding: 0px auto;
    float: left;
    height: 25%;
}


.meiofooter {
    background-image: url("modulov.png");
    margin: 0px;
    height: 25%;
    float: left;
}

.divfooter {
    background-image: url("modulov.png");
    margin: 0px auto;
    padding: 0px;
    float: left;
    height: 25%;   
}

.imgfooter {
    margin-top: 30px;
}

.caixaf {
    text-align: center;
    padding: 0px;
    margin: 0px auto;
    background-image: url("modulov.png");
    background-color: red;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    clear: both;
    display: block;
    height: 0;
}
}

@media only screen and (max-width: 700px) {
    /* C처digo para vers찾o mobile */
    .container{
        height: 80px;
        width: 100%;
        display: block;
        padding: 0px 0px;
        float: right;
    }
      
    #checkbox-menu{
        position: absolute;
        opacity: 0;
    }
      
    label{
        cursor: pointer;
        position: relative;
        display: block;
        height: 22px;
        width: 30px;
        float: right;
        margin: 30px 9vw 0px 0px;
        z-index: 1;
    }
      
    label span{
        
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        border-radius: 30px;
        background:#a80505cc;
        transition: 0.25s ease-in-out;
    }
      
    label span:nth-child(1) {
        top: 0;
    }
      
    label span:nth-child(2) {
        top: 8px;
    }
      
    label span:nth-child(3) {
        top: 16px;
    }
      
    #checkbox-menu:checked + label span:nth-child(1){
        transform: rotate(-45deg);
        top: 8px;
    }
      
    #checkbox-menu:checked + label span:nth-child(2){
        opacity: 0;
    }
      
    #checkbox-menu:checked + label span:nth-child(3){
        transform: rotate(45deg);
        top:8px;
    }
    
    nav {
        background-image: url(modulov.png);
        width: 100%;
        height: 100%;
        padding: 10% 0px 0px 0px;
        float: right;
        right: 0px;
        position: absolute;
        transition: all .4s ease-in-out;
        transform-origin: (0, 0);
        transform: translateX(100px);
        display: none;
    }

    input[type="checkbox"]:checked ~ nav{
        transform: translateX(0px);
        display: block;
    }  

    .menu {
        font-family: 'Archivo Black', sans-serif;
        text-align: right; 
        
    }
    
    .menu ul {
        position: none;
        width: 10%;
        height: 70px;
        padding: 0px auto;
        margin: 10px 20% 0px 20%;
        float: right;
    
    }
    
    .menu li {
        float: right;
        font-size: 1.1em;
        font-weight: normal;
        padding: 0px auto;
        margin-left: 0vw;
        margin-right: 0px;
    }
    
    .menu li a {
        display: block;
        color: black;
        text-decoration: none;
        padding: 20px 0px 5px 0px;
        width: 60vw;
        transition: all .1s ease-in;
        
    }

    .menu ul li:nth-child(2) a {
        border-bottom: #a80505cc solid 4px;
    }

    li a:hover {
        border-bottom: #a80505cc solid 4px;
    }
    
        
    .fab {
        font-size: 2em;
        color: black;
        position: absolute;
        top: 80%;
    }

    .fa-facebook {
        right: 75%;
    }

    .fa-instagram {
        right: 45%;
    }

    .fa-twitter {
        right: 15%;
    }
    
    .cabecalho {
        background-image: url(modulov.png);
        font-family: 'Archivo Black', sans-serif;
        font-size: 1.5em;
        color: black;
        text-align: left;
        margin: 0px;
        padding-top: 80px;
        padding-bottom: 20px;
    }
    
    h1 {
        margin: 0px 0px 0px 9vw;
        color: black; 
        font-size: .9em;
    }
    
    body {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        line-height: 1.5;
        font-size: 1.1em;
        letter-spacing: .5px;
    }
    
    p {
        font-size: 1.1em;
        margin: 0px auto;
        padding: 20px 20px;
        text-decoration: none;
    }
    
    .txt {
        font-size: 1em;
        background-color: rgb(50, 131, 33);
        color: blanchedalmond;
        text-align: left;
        margin: 0px auto;
        padding: 0px;
        position: relative;
        z-index: 0;
        transition: background-color .4s ease, 
                    box-shadow .4s ease;
    }
    
    .txt:hover {
        background-color: #a80505cc;
        box-shadow: 5px 10px black;
        animation: move1 .5s ease;
        animation-direction: alternate;
    }
    
    @keyframes move1 {
        0% {
            top: 0px; left: 0px;
        }
        10% {
            bottom: 20px; right: 20px;
        }
        100% {
            bottom: 20px; right: 20px;
        }
    
    }
    
    h2 {
        font-family: 'Archivo Black', sans-serif;
        font-size: 2em;
        margin: 30px 30px 30px 30px;
        text-align: right;
        text-decoration: underline; 
        padding: 20px 20px;
    }
    
    h3 {
        font-family: 'Archivo Black', sans-serif;
        font-size: 3em;
        font-style: italic;
        color: blanchedalmond;
        text-align: center;
    }
    
    .box {
        background-color: rgb(50, 131, 33);
        margin: 0px 9vw 0px 9vw ;
        padding: 20vh 0px 20vh 0px;
        position: relative;
        animation: move2 2s ease;
        transition: 0;
    }
    
    @keyframes move2 {
        0% {
            transform: translate(0, 80px);
            background-color: rgba(49, 131, 33, 0.3);
        }
        100% {
            transform: translate(0px, 0px);
            background-color:rgb(50, 131, 33);
        }
    }
    
    .caixa1 {
        text-align: center;
        padding: 50px 0px 50px 0px;
        margin: 0px auto;
        background-color: whitesmoke;
    }

    .caixa2 {
        text-align: center;
        padding: 0px 0px 100px 0px;
        margin: 0px auto;
        background-color: whitesmoke;
    }

    .txt2 {
        font-size: 1em;
        background-color: rgb(50, 131, 33);
        color: blanchedalmond;
        text-align: left;
        margin: 0px auto;
        padding: 0px;
        position: relative;
        z-index: 0;
        transition: background-color .4s ease, 
                    box-shadow .4s ease;
    }
    
    .esquerda, .direita {
        margin: 0px auto;
        margin-top: 30px;
        padding: 0px auto;
    }
    
    .imgesq, .imgdir {
        background-color: whitesmoke;
        margin: 0px auto;
        margin: 0px auto;
        padding-top: 50px;
        padding: 0px auto;
    }

    .col40 {
        width: 80%;
    }

    .col20 {
        width: 40%;
    }

    .col60 {
        width: 20%;
    }
    
    .clearfix:after {
        content: ".";
        visibility: hidden;
        clear: both;
        display: block;
        height: 0;
    }
    
    footer p { 
        margin-top: 70px;
    }
    
    .txtfooter {
        background-image: url("modulov.png");
        font-family: 'Roboto', sans-serif;
        font-size: 0.8em;
        color:black;
        text-align: left;
        margin: 0px auto;
        padding: 0px auto;
        float: left;
        height: 40%;
    }
    
    .meiofooter {
        background-image: url("modulov.png");
        margin: 0px;
        height: 40%;
        float: left;
    }
    
    .divfooter {
        background-image: url("modulov.png");
        margin: 0px auto;
        padding: 0px;
        float: left;
        height: 40%;   
    }
    
    .imgfooter {
        margin-top: 80px;
    }
    
    .caixaf {
        text-align: center;
        padding: 0px;
        margin: 0px auto;
        background-color: whitesmoke;
    }
    

}